@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://use.typekit.net/gak5scy.css");

.cart-drawer-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #efefef;
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
}
.cart-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .empty-cart-icon {
      font-size: 80px;
    }
    .empty-cart-text {
      font-size: 20px;
    }
    .empty-cart-button {
      margin-top: 20px;
      font-size: 20px;
      background-color: #000;
      cursor: pointer;
      border-radius: 10px;
    }
  }
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #efefef;
    margin: 30px;
    .cart-item-image {
      width: 100px;
      border-radius: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cart-item-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      .cart-item-name {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin: 10px;
      }
      .cart-item-price {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin: 10px;
      }
      .cart-item-quantity {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin: 10px;
      }
    }
  }
}
