@import url("https://use.typekit.net/gak5scy.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button-black {
    display: flex;
    background: #000;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .button-black {
        padding: 6px 10px 6px 10px;
        font-size: 12px;
        font-weight: 400;
    }
    .button-white {
        padding: 6px 10px 6px 10px;
        font-size: 10px;
        font-weight: 400;
    }
}
@media screen and (min-width : 992px) {
    .button-black {
        padding: 10px;
        font-size: 12px;
        font-weight: 400;
    }
    .button-white {
        padding: 10px;
        font-size: 12px;
        font-weight: 400;
    }
}

.button-white {
    display: flex;
    background: #fff;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
