@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://use.typekit.net/gak5scy.css");
@import "./font.scss";
.product-detail-section {
  margin: 10px;
  font-family: "poppins_regular";
  .product-detail-body {
    margin: 10px;
    .product-detail-breadcrumbs {
      margin: 20px 0px;
      text-decoration: none;
      color: black;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .product-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      height: 100%;
      .product-card-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        .product-card-top-title {
          font-family: poppins_regular;
          font-size: 26px;
          font-weight: 400;
          margin: 0px;
        }
        .product-card-top-price {
          font-family: poppins_regular;
          font-size: 30px;
          font-weight: 600;
        }
      }
      .product-card-middle {
        width: 180px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      .product-card-bottom {
        justify-content: center;
        align-items: center;
        text-align: center;
        .product-card-features {
          font-size: 12px;
          font-weight: 400;
          margin: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .product-card-feature-item {
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .product-card-feature-item-name {
              width: 100px;
            }
          }
        }
      }
    }
    .product-detail-description {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .product-detail-description-top {
        .product-detail-description-top-title {
          font-size: 32px;
          font-weight: 700;
          font-family: poppins_regular;
          margin: 0px;
        }
      }
      .product-detail-description-price {
        font-family: poppins_regular;
        font-size: 28px;
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: flex-start;
        p {
          margin: 0px;
        }
      }
      .product-detail-description-rating {
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        .product-detail-description-rating-count {
          margin: 0px 10px;
        }
      }
      .product-detail-description-short {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0px;
        line-height: 30px;
      }

      .product-detail-description-color {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .product-detail-description-color-title {
          font-size: 20px;
          font-weight: 400;
        }
        .product-detail-description-color-list {
          padding: 1rem 0;
          display: flex;
          margin: 0px 10px;
          .color {
            width: 35px;
            height: 35px;
            background: none;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 12px;
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &:hover {
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.9);
            }
          }

          .product-detail-description-color-list-item {
            font-size: 50px;
          }
        }
      }
      .product-detail-description-quantity {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .product-detail-description-quantity-title {
          font-size: 20px;
          font-weight: 400;
        }
        .product-detail-description-quantity-counter {
          .counter-size {
            font-size: 30px;
          }
        }
      }
      .button-group {
        padding: 30px;
        .button-group-item-1 {
          padding: 10px 20px;
          font-size: 30px;
        }
        .button-group-item-2 {
          font-size: 30px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px 20px;
        }
        .button-group-item-3 {
          padding: 10px 20px;
          font-size: 30px;
        }
      }
      .add-to-cart {
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        .button-big {
          font-size: 20px;
          border-radius: 40px;
          padding: 20px 30px;
          margin: 10px;
          font-weight: bolder;
        }
      }
    }
    .product-detail-accordian {
      .MuiAccordion-root {
        position: inherit;
      }
      .product-detail-accordian-title {
        font-size: 18px;
        font-weight: 600;
        margin: 0px;
      }
      .product-detail-accordian-paragraph {
        margin: 0px;
        line-height: 30px;
      }
    }
    .product-detail-sexologist {
      margin: 10px 0px;
      .product-detail-sexologist-title {
        font-size: 24px;
        font-weight: 600;
      }
    }
    .product-detail-testimonials {
      margin: 10px 0px;
      .product-detail-testimonials-title {
        font-size: 24px;
        font-weight: 600;
      }
      .product-detail-testimonials-list {
        margin: 10px 0px;
        .product-detail-testimonials-list-paper {
          padding: 10px;
          border-radius: 10px;
          margin: 10px 0px;
          display: flex;
          flex-direction: row;
          .product-detail-testimonials-list-item {
            .product-detail-testimonials-list-item-name {
              font-size: 20px;
              font-weight: 600;
              margin: 0px;
            }
            .product-detail-testimonials-item-rating {
              margin: 10px -3px;
            }
            .product-detail-testimonials-list-item-title {
              font-weight: 600;
              margin: 10px 0px;
            }
            .product-detail-testimonial-list-item-content {
              max-width: 90%;
              display: flex;
              flex-wrap: nowrap;
            }
          }
        }
      }
      .product-detail-tesimonial-list-item-images {
        width: 200px;
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
        img {
          width: 100%;
          height: 100%;
          margin: 5px;
        }
      }
      .product-detail-testimonials-show-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
      }
    }
  }
  @media screen and (min-width: 250px) and (max-width: 766px) {
    .product-detail-body {
      margin: 10px;
      .product-card {
        .product-card-top {
          display: flex;
          .product-card-top-title {
            font-size: 18px;
          }
          .product-card-top-price {
            font-size: 20px;
          }
        }
        .product-card-middle {
          margin: 10px;
          width: 150px;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .product-card-dot {
          margin: 10px;
        }
        .product-card-bottom {
          margin: 10px 40px;
          .product-card-features {
            .product-card-feature-item {
              margin: 5px;
              .product-card-feature-item-name {
                width: 90px;
              }
            }
          }
        }
      }
      .product-detail-description {
        .product-detail-description-top {
          .product-detail-description-top-title {
            font-size: 28px;
          }
        }
        .product-detail-description-price {
          font-size: 24px;
          p {
            margin: 3px 0px;
          }
        }
        .product-detail-description-rating {
          font-size: 16px;
        }
        .product-detail-description-short {
          font-size: 14px;
        }

        .product-detail-description-color {
          .product-detail-description-color-title {
            font-size: 14px;
          }
          .product-detail-description-color-list {
            .product-detail-description-color-list-item {
              font-size: 40px;
            }
          }
        }
        .product-detail-description-quantity {
          .product-detail-description-quantity-title {
            font-size: 14px;
          }
          .product-detail-description-quantity-counter {
            .counter-size {
              font-size: 14px;
            }
          }
        }
        .button-group {
          padding: 10px;
          .button-group-item-1 {
            padding: 5px 10px;
            font-size: 30px;
          }
          .button-group-item-2 {
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
          }
          .button-group-item-3 {
            padding: 5px 10px;
            font-size: 30px;
          }
        }
        .add-to-cart {
          margin: 10px 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          .button-big {
            font-size: 10px;
            padding: 10px 20px;
            margin: 0px 10px 0px 0px;
          }
        }
      }
      .product-detail-accordian {
        .product-detail-accordian-title {
          font-size: 14px;
        }
        .product-detail-accordian-paragraph {
          font-size: 14px;
        }
      }
      .product-detail-sexologist {
        margin: 10px 0px;
        .product-detail-sexologist-title {
          font-size: 18px;
        }
        .product-detail-sexologist-content {
          font-size: 14px;
          line-height: 30px;
        }
      }
      .product-detail-testimonials {
        margin: 10px 0px;
        .product-detail-testimonials-title {
          font-size: 18px;
        }
        .product-detail-testimonials-list {
          .product-detail-testimonials-list-paper {
            .product-detail-testimonials-list-item {
              .product-detail-testimonials-list-item-name {
                font-size: 18px;
              }
              .product-detail-testimonials-item-rating {
                margin: 10px -3px;
              }
              .product-detail-testimonials-list-item-title {
                font-weight: 600;
                font-size: 14px;
                text-transform: capitalize;
              }
              .product-detail-testimonial-list-item-content {
                font-size: 14px;
                line-height: 30px;
              }
            }
          }
        }
        .product-detail-tesimonial-list-item-images {
          flex-direction: column;
        }
      }
    }
  }
  @media screen and (min-width: 599px) and (max-width: 992px) {
    .product-detail-body {
      margin: 10px;
      .product-card {
        .product-card-top {
          display: none;
        }
      }
      .product-detail-description {
        .product-detail-description-color-list {
          .product-detail-description-color-list-item {
            font-size: 40px;
          }
        }
        .product-detail-description-quantity {
          .product-detail-description-quantity-title {
            font-size: 20px;
          }
          .product-detail-description-quantity-counter {
            .counter-size {
              font-size: 30px;
            }
          }
        }
        .button-group {
          padding: 10px;
          .button-group-item-1 {
            padding: 5px 10px;
            font-size: 30px;
          }
          .button-group-item-2 {
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
          }
          .button-group-item-3 {
            padding: 5px 10px;
            font-size: 30px;
          }
        }
        .add-to-cart {
          margin: 10px 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          .button-big {
            font-size: 10px;
            padding: 20px 30px;
            margin: 0px 10px 0px 0px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
  }
  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    .product-detail-body {
      .product-card {
        .product-card-top {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .product-detail-body {
      .product-card {
        .product-card-top {
          display: none;
        }
      }
    }
  }
}
