@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://use.typekit.net/gak5scy.css");

.products-list-section {
    .products-list-body {
        margin: 30px;

        .products-list-heading {
            font-family: 'work-sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
        }

        .triple-dildo {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .triple-dildo-paper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .dildo-question {
                p {
                    font-size: 32px;
                    font-weight: 600;
                }

                span {
                    font-size: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }

        .products-list-border {
            margin: 30px 0px;
            border: 1px solid #fff;
        }

        .product-list-swiper {
            .product-card {
                padding: 20px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;

                .product-card-top {
                    justify-content: flex-start;
                    .product-card-name {
                        font-size: 24px;
                        font-weight: 400;
                        margin: 0px;
                    }
                    .product-card-price {
                        font-size: 28px;
                        font-weight: 600;
                        margin: 0px;
                    }
                }
                .product-card-image {
                    margin: 10px 0px;
                    height: 300px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 60%;
                    }
                }
                .product-card-dot {
                    margin: 20px 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .product-card-button {
                    margin: 10px 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .product-card-bottom {
                    margin: 10px 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .product-card-features {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0px 10px;
                        width: 70%;
                        .product-card-feature {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            
                            .product-card-feature-icon {
                                width: 50px;
                            }
                            .product-card-feature-name {
                                width: 100px;
                            } 
                        }
                    }
                }

            }
        }

    }
}