@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://use.typekit.net/gak5scy.css");

.person {
    cursor: pointer;
}

.person :hover {
    color: #3f51b5;
}

.sidebar-item {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px;
    cursor: pointer;
}